.field-sidebar-wrapper {
  position: absolute;
  top: 125px;
  right: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 612;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease;
}

.field-sidebar-wrapper.has-selection {
  box-shadow: 0 0 0 2px #48fa19;
  border-radius: 5px;
}
.clean-points-sidebar-wrapper {
    top: 170px;
}
.field-toggle-button {
    width: 43px;
    height: 43px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.field-sidebar {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.field-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

/* MOBILE VERSION */
.mobile-field-sidebar {
  top: 90px !important;
    right: 8px;
}

/* Кнопка-бургер 30×30 */
.mobile-field-sidebar .field-toggle-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 16px !important; /* чтобы "☰" визуально не выпирал */
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px !important;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

/* Сайдбар компактнее */
.mobile-field-sidebar .field-sidebar {
  padding: 6px 10px !important;
  border-radius: 6px !important;
  margin-top: 6px;
}

/* Текст меньше */
.mobile-field-sidebar .field-sidebar-title {
  font-size: 12px !important;
  margin-bottom: 6px !important;
}

/* Select уменьшен */
.mobile-field-sidebar .ant-select-selector {
  padding: 2px 6px !important;
  font-size: 12px !important;
  height: 28px !important;
  display: flex;
  align-items: center;
}

.mobile-field-sidebar .ant-select-selection-item,
.mobile-field-sidebar .ant-select-selection-placeholder {
  font-size: 12px !important;
}
