@import url("~leaflet/dist/leaflet.css");
@import 'antd/dist/reset.css';

#root, html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app-layout, .data-page {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
}
.leaflet-bottom {
    display: flex!important;
    flex-direction: column-reverse!important;
}
.leaflet-control-rotate{
    height: 34px!important;
}
.leaflet-control-attribution span,
.leaflet-control-attribution a:first-child {
    display: none;
}

.custom-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-ring {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid red;
    opacity: 0.6;
    animation: ring-animation 3s infinite;
}

@keyframes ring-animation {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
/* Скрываем анимацию, если данные устарели */
.inactive .pulse-ring {
    display: none;
}

