
@import 'antd/dist/reset.css';

#root, html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app-layout, .data-page {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
}
.leaflet-bottom {
    display: flex!important;
    flex-direction: column-reverse!important;
}
.leaflet-control-rotate{
    height: 34px!important;
}
.leaflet-control-attribution span,
.leaflet-control-attribution a:first-child {
    display: none;
}

.custom-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-ring {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid red;
    opacity: 0.6;
    animation: ring-animation 3s infinite;
}

@keyframes ring-animation {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
/* Скрываем анимацию, если данные устарели */
.inactive .pulse-ring {
    display: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 77, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}

.batymetry-legend{
      position: absolute;
      bottom: 32px;
      left: 8px;
      opacity: 0.8;
      background: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      font-family: sans-serif;
      line-height: 1.8;
      width: 88px;
      z-index: 1000;
      pointer-events: none;
}
.leaflet-control > a,
.leaflet-control-attribution {
    width: 30px !important;
    height: 30px !important;
}
.mobile-map .leaflet-control {
    transform-origin: top right;
    margin-top: 6px !important;
    margin-right: 4px !important;
}

.mobile-map .leaflet-control > a,
.mobile-map .leaflet-control button {
    width: 30px !important;
    height: 30px !important;
    line-height: 26px !important;
    font-size: 14px !important;
}

.mobile-map .leaflet-bar a {
    padding: 4px !important;
}

.mobile-map .leaflet-bar {
    border-radius: 4px !important;
}

/* ===== МОБИЛЬНАЯ ВЕРСТКА ===== */
@media (max-width: 768px) {
    .leaflet-left .leaflet-control {
        margin-left: 6px !important;
    }
    .leaflet-draw-actions > li > a{
        font-size: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}