.year-sidebar-wrapper {
  position: absolute;
  top: 180px;
  right: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 611;
  box-shadow: 0 0 0 0 transparent;
  transition: outline 0.2s ease;
}
.clean-points-sidebar-wrapper {
    top: 170px;
}

.year-sidebar-wrapper.has-selection {
  box-shadow: 0 0 0 2px #48fa19;
    border-radius: 5px;
}

.last-year-position {
  top: 236px;
  z-index: 609;
}
.year-toggle-button {
    width: 43px;
    height: 43px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.year-sidebar {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.year-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.last-year-position{
    top: 236px;
    z-index: 609;
}